body {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  body {
    width: 100vw;
  }
}
h1 {
  font-weight: bold;
  text-align: center;
}

form {
  margin: auto;
  width: 60%;
}

input {
  margin: 5px 5px;
  padding: 5px 5px;
  width: 100%;
  border: 1px solid #ccc;
}
input:focus {
  border: 1px solid #AED6F1 ;
}
p {
  margin-top: 10px;
  margin-bottom: 10p;
}
button {
  background-color: blue;
  color: white;
  border: none;
  font-weight: 700;
}
span {
  color: blue;
}
/* label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
} */
.input-horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat (2, 1fr);
  grid-column-gap: 20px;

}

.section-agree {
  margin-top: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 75%;
  align-items: flex-start;
}

.checkbox-area {
  white-space: nowrap;
  padding-top: 10px;
}

.checkbox {
  vertical-align: top;
  display: inline-block;
  width: 10%;
}

.checkbox-label {
  white-space: normal;
  display: inline-block
}

.btn-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50 auto;
  grid-gap: 20px;
}
.btn {
  padding: 10px 20px;
  float: left;
  width: 100%;
  margin: 5px 10px;
}
#register {
  color: white;
}
#signin {
  background-color: green;
  color: white;
}